/*-- scss:defaults --*/

$body-bg: #fff;
$body-color: #000000;
$link-color: #1667c4;
$code-color: #27A5A2;
$code-block-border-color: #009491;

$presentation-heading-color: #ff4242;
$presentation-font-size-root: 30px;


$font-family-sans-serif: "Ubuntu";

$presentation-slide-text-align: left;

$code-block-font-size: 1em;

h1 {
  text-align: center;
}

#title-slide {
  text-align: left;

  .subtitle,
  .institute,
  .quarto-title-affiliation,
  .quarto-title-author-email {
    font-style: italic;
    // font-size: 80%;
    color: #7F7F7F;
  }

  .author, .quarto-title-author-name {
    color: $body-color;
  }

  .quarto-title-authors {
    display: flex;
    justify-content: left;

    .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
    }
  }

  p.author::before, div.quarto-title-author::before {
    content: "";
    display: block;
    border: none;
    background-color: $body-color;
    color: $body-color;
    height: 2px;
    margin-bottom: 1em;
  }

  // p, a {
  //   color: #7F7F7F;
  // }
}


/*-- scss:rules --*/


.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}


.v-center-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.center-x{
  text-align: center;
}


.red {
  color: #E80724;
}

.green {
  color: #3CBFAE;
}

.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  right: 10px !important;
  max-height: 12% !important;
  height: 100% !important;
  width: auto !important;
  color: $body-color !important;
  opacity: 0.4;
}
